/JPA_example/.nb-gradle/
/JPA_Example/target/
/JPA_Example_2/nbproject/private/
/JPA_Example_2/build/
/JPA_Example_2/dist/
/PostgresStudy/nbproject/private/
/PostgresStudy/build/
/Postgres-JDBC-Example/target/
/PostgresStudy/nbproject/private/
